@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(245, 247, 250);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  width: 100vw;
  height: 5%;
  background-color: rgb(33, 39, 51);
  overflow: hidden;
  position: sticky;
  top: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgb(155, 162, 189);
  padding: 0px 30px;
  align-items: center;
  height: 100%;
  position: sticky;
}
.logodiv {
  display: flex;
  gap: 20px;
  height: 100%;
  align-items: center;
}
.logodiv > img {
  width: 30px;
  height: 30px;
}
.logodiv > p {
  font-family: "Nunito Sans", serif;
  font-size: 30px;
}
.userdetails {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.userdetails > img {
  width: 100px;
  height: 40px;
}
.userdetails > p {
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid rgb(155, 162, 189);
  font-family: "Nunito Sans", serif;
  font-size: 16px;
}
.userdetails > p:hover {
  background-color: rgb(155, 162, 189);
  color: black;
}
.bodycontent {
  display: flex;
  width: 100vw;
  height: 93.5%;
}
.navigationcontent {
  width: 20%;
  background-color: rgb(33, 39, 51);
}
footer {
  width: 100%;
  height: 2.5%;
  background-color: rgb(33, 39, 51);
  color: rgb(155, 162, 189);
  display: flex;
  align-items: center;
  justify-content: end;
  font-family: "Nunito Sans", serif;
  position: sticky;
  position: absolute;
  bottom: 0px;
}

.navigationcontent {
  color: rgb(155, 162, 189);
  font-family: "Nunito Sans", serif;
  padding: 30px 20px;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.4s ease;
}
.navigationcontent > ul > li {
  list-style-type: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 20px;
}
.navigationcontent > ul > li:hover {
  background-color: rgb(245, 247, 250);
  color: rgb(33, 39, 51);
}
.navigationcontent > ul > li > i {
  margin-right: 10px;
}
.mainpage {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 1%;
  font-family: "Open Sans", serif;
  gap: 2%;
}
.boxrow {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}
.singlebox {
  width: 23%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 100%;
  /* max-height: 192px;
  min-width: 250px; */
}
.singlebox > h4 {
  border-bottom: 1px solid rgb(232, 235, 237);

  font-size: clamp(16px, 1vw, 26px);
  font-weight: 400;
  color: rgb(103, 106, 108);
  font-weight: 500;
  padding: 5%;
}
.boxcontent {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5%;
}
.boxcontentlastrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.boxcontent > h3 {
  font-size: clamp(22px, 1vw, 26px);
  font-weight: 100;
  color: rgb(103, 106, 108);
}
.boxcontentlastrow > p {
  font-size: 1vw;
  font-weight: 300;
}
.lastcontent,
.lastcontent > i {
  font-size: 1vw;
  font-weight: 300;
  font-weight: 600 !important;
}
.tablebox {
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.tablebox > h4 {
  border-bottom: 1px solid rgb(232, 235, 237);
  padding: 1%;
  font-size: clamp(16px, 1vw, 26px);
  font-weight: 500;
  color: rgb(103, 106, 108);
}
.tablediv {
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ddd;
  margin: 1% 0.5%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.tablediv::-webkit-scrollbar {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  background-color: #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 2;
}

th,
td {
  padding: 0.8vw;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  font-weight: bold;
}

.lasttwoboxdiv {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 25%;
}
.expendnav {
  position: absolute;
  right: -12%;
  size: 2vw;
  border-radius: 50%;
  background-color: black;
  color: white;
  padding: 0.5vw;
}

@media screen and (max-width: 1247px) {
  .boxrow {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
  }
  .singlebox {
    width: 100%;
  }
  .mainpage {
    gap: 5vh;
  }
}

@media screen and (max-width: 600px) {
  .navigationcontent {
    display: none;
  }
  .logodiv {
    gap: 5px;
  }
  nav {
    padding: 0px 0px 0px 30px;
  }
  .boxrow {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
  }

  .mobile-menu {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    z-index: 14;
  }
  .mainpage {
    padding: 5%;
    gap: 10vh;
  }
  .tablebox {
    margin-top: 10vh;
    height: 70vh;
  }
  .boxcontentlastrow p {
    font-size: clamp(16px, 1vw, 26px);
  }

  .navigationcontent.active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: rgb(33, 39, 51);
    flex-direction: column;
    padding: 20px;
    z-index: 10;
  }
  header {
    z-index: 11;
  }

  .navigationcontent > ul > li {
    padding: 15px;
    font-size: 18px;
    width: 100%;
  }

  .expendnav {
    display: none;
  }
  .lasttwoboxdiv {
    flex-direction: column;
    margin-top: 10vh;
  }
  .logodiv > img {
    width: 17px;
    height: 17px;
  }
  .logodiv > p {
    font-size: 16px;
  }
  .userdetails {
    font-size: 10px;
    gap: 10px;
  }
  .userdetails > img {
    width: 60px;
    height: 25px;
  }
}
